<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444623400220-tlnp6va384dbfblna8fghls0g9k09ef8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444623400220-tlnp6va384dbfblna8fghls0g9k09ef8</string>
	<key>API_KEY</key>
	<string>AIzaSyCQvE0iFeWBwP67wSc0XRvFSlpy01tdm-4</string>
	<key>GCM_SENDER_ID</key>
	<string>444623400220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taesiri.isitplanar</string>
	<key>PROJECT_ID</key>
	<string>planaritify-1fa4d</string>
	<key>STORAGE_BUCKET</key>
	<string>planaritify-1fa4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444623400220:ios:4f39ba2c2f78faa6</string>
	<key>DATABASE_URL</key>
	<string>https://planaritify-1fa4d.firebaseio.com</string>
</dict>
</plist>